body {
	background-size: cover;
}

.boton {
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }

h3 {
	background-color: grey;
	border-style: solid;
	border-width: 5px;
	border-color: grey;
	border-radius: 15px;
	margin-left: 25%;
	margin-right: 25%;
}